{{define "users/new"}}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">Goes</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <!-- 
      	<ul class="nav navbar-nav">
        	<li class="active"><a href="#">Home</a></li>
        	<li><a href="#">Page 1</a></li>
        	<li><a href="#">Page 2</a></li> 
        	<li><a href="#">Page 3</a></li> 
      	</ul> 
      -->
      <ul class="nav navbar-nav navbar-right">
        <li>
        	<a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
        </li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="col-md-6 col-md-offset-3">
	<h1>Sign Up</h1>
	{{if .Error}}
	<p class="text-danger">
		{{.Error}}
	</p>
	{{end}}
	<form action="/register" method="POST">
		<div class="form-group">
			<label for="newUsername">Username</label>
			<input type="text" name="username" value="{{.User.Username}}" id="newUsername" class="form-control">
		</div>
		<div class="form-group">
			<label for="newEmail">Email</label>
			<input type="text" name="email" value="{{.User.Email}}" id="newEmail" class="form-control">
		</div>
		<div class="form-group">
			<label for="newPassword">Password</label>
			<input type="password" name="password" id="newPassword" class="form-control">
		</div>
		<input type="submit" value="Register" class="btn btn-primary">
	</form>
</div>
{{end}}
